*{
    margin:0;
    padding:0;
}

.row{
    display: flex;
    /* justify-content:center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;

}

h1, h2{
    margin-bottom: 20px;
}
p{
    margin-bottom: 15px;
}
img{
    width: 100%;
}
.col{
    border:2px solid black;
    padding:20px;
    width: 40%;
}
.col-1{

}
.col-2{

}

ul{
    list-style: none;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid black;
    margin-bottom: 10px;
}